dj-database-url==2.1.0
django-pipeline==3.0.0
django-sitetree==1.18.0
django-apptemplates==1.5
django-admin-interface==0.28.6
django-translation-aliases==0.1.0
Django==4.2.11
docutils==0.20.1
Markdown==3.6
cmarkgfm==2024.1.14
Pillow==10.2.0
psycopg2-binary==2.9.9
python3-openid==3.2.0
python-decouple==3.8
# lxml used by BeautifulSoup.
lxml==5.1.0
cssselect==1.2.0
feedparser==6.0.11
beautifulsoup4==4.12.3
icalendar==5.0.12
chardet==5.2.0
celery[redis]==5.3.6
django-celery-beat==2.6.0
# TODO: We may drop 'django-imagekit' completely.
django-imagekit==5.0.0
django-haystack==3.2.1
elasticsearch>=7,<8
# TODO: 0.14.0 only supports Django 1.8 and 1.11.
django-tastypie==0.14.6

pytz==2024.1
python-dateutil==2.9.0.post0

requests[security]>=2.26.0

django-honeypot==1.1.0
django-markupfield==2.0.1
django-markupfield-helpers==0.1.1

django-allauth==0.61.1

django-waffle==4.1.0

djangorestframework==3.15.1
django-filter==24.1
django-ordered-model==3.7.4
django-widget-tweaks==1.5.0
django-countries==7.5.1
num2words==0.5.13
django-polymorphic==3.1.0
sorl-thumbnail==12.10.0
django-extensions==3.2.3
django-import-export==3.3.7

pypandoc==1.13
panflute==2.3.1
