-r base-requirements.txt

# Required for running tests

factory-boy==3.3.0
Faker==24.3.0
tblib==3.0.0
responses==0.25.0

# Extra stuff required for local dev

django-debug-toolbar==4.3.0
coverage
ddt
model-bakery==1.17.0
